<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Flanzo is a blazing fast responsive HTML5 CSS3 Bootstrap 3 template featuring great hover effects, responsive lightbox, working contact form, blog page and more">
  <meta name="author" content="Mamoot Studio">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Computational Molecular Biology Team</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- GOOGLE FONTS -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300,800' rel='stylesheet' type='text/css'>
  <!-- PLUGINS-CSS-->
  <!--===============================================================-->
  <link rel="stylesheet" href="frontend-resources/css-theme/font-awesome.min.css" type="text/css" >
  <link rel="stylesheet" href="frontend-resources/css-theme/nivo-lightbox.min.css" type="text/css" >
  <!-- THEME-CSS-->
  <!--===============================================================-->
  <link rel="stylesheet" href="frontend-resources/css-theme/theme.css" type="text/css">
  <link rel="stylesheet" href="frontend-resources/css-theme/animate.min.css" type="text/css">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
