<nav class="navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="scroll-smooth" href="#home">
        <img class="navbar-brand" src="frontend-resources/images/logo4.svg" alt="logo">
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="scroll-bootstrap collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="scroll-smooth" href="/#home">Home</a></li>
        <li><a class="scroll-smooth" href="/#team">Team</a></li>
        <li><a class="scroll-smooth" href="/#projects">Projects</a></li>
        <li><a class="scroll-smooth" href="/#proposal">Proposal</a></li>
        <li><a class="scroll-smooth" href="/#sources">Sources</a></li>


      </ul>
    </div>
  </div>
</nav>
