<!DOCTYPE html>
<html lang="en">
  <!-- header -->
  <% include ./_header %>

  <!-- NAVBAR-->
  <% include ./_nav %>
  <script src="http://d3js.org/d3.v3.js"></script>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js"></script> -->
  <!-- <script src="javascripts/heatmap.js"></script> -->

  <style>
  rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
  }

  text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
  }

  text.axis-workweek {
    fill: #000;
  }

  text.axis-worktime {
    fill: #000;
  }
</style>
  <body>
    <div style="width:25%;padding:20px;padding-top:200px">
      <form method="POST" id="ajax_form" action="/" role="form" class="form-contact">
        <div class="col-sm-10">
          <div class="form-group">
            <text>Number of Epochs</text>
            <input style='height:30px' class="form-control form-flat" type="text" name="epochs" id="epochs" placeholder="e.g. 5" >
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <text>Batch Size</text>
            <input style='height:30px' class="form-control form-flat" type="text" name="batch" id="batch_size" placeholder="e.g. 100" >
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <text>Learning Rate</text>
            <input style='height:30px' class="form-control form-flat" type="text" name="" id="learning_rate" placeholder="e.g. .01" >
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <text>Hidden Layers</text>
            <input style='height:30px' class="form-control form-flat" type="text" name="" id="hidden_layers" placeholder="e.g. 1024 256" >
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <text>Lambdas</text>
            <input style='height:30px' class="form-control form-flat" type="text" name="" id="lambdas" placeholder="e.g. 1,10" >
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <text>Alphas</text>
            <input style='height:30px' class="form-control form-flat" type="text" name="" id="alphas" placeholder="e.g. .001" >
          </div>
        </div>
      </form>
      <form ref='upload'
       id='uploadForm'
       action='http://localhost:3000/upload'
       method='post'
       encType="multipart/form-data">
         <input type="file" name="filedata" />
         <input type='submit' value='Upload!' />
      </form>
    </div>
    <% if (data_uploaded == 'true') { %>
      <text><%= data_uploaded %></text>
    <% } %>

    <div class=" col-xs-6 col-sm-6 col-md-6 col-lg-6 portfolio-item">
      <svg id="symptoms_bar_chart"></svg>
    </div>
  </body>
<script src='javascripts/barchart.js'></script>

</html>
