<!DOCTYPE html>
<html lang="en">
  <!-- header -->
  <% include ./_header %>

  <!-- NAVBAR-->
  <% include ./_nav %>

  <!--===============================================================-->

  <!-- INTRO-->

  <body data-spy="scroll" data-target=".scroll-bootstrap" data-offset="50">
    <div style="padding:20px;padding-top:100px;">


      <a href="dfs_app" class="btn btn-flat">Go to DFS App</a>
    </div>

  </body>
</html>
