<!DOCTYPE html>
<html lang="en">
  <!-- header -->
  <% include ./_header %>

  <!-- NAVBAR-->
  <% include ./_nav %>

  <!--===============================================================-->

  <!-- INTRO-->

  <body data-spy="scroll" data-target=".scroll-bootstrap" data-offset="50">

  </body>
</html>
